h1{
  font-size: 90px;
  text-align: center;
  color: aqua;
}
.image1{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}
.movie{
  animation: blink 1s infinite;
}
h3{
  text-align: center;
  font-family: Verdana;
  color: #ffc310;
  animation: blink-text 1.9s linear infinite;
  font-size: 6em;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}